<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (submit) ="onLogin()" >
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                <div class="alert alert-danger" role="alert" >
                  ¡Algo está mal!
                </div>
                <div class="form-group">
                  <input [(ngModel)]="email"
                  type="email" id="email" name="email" class="form-control" placeholder="Email" >
                </div>
                <div class="form-group">
                  <input [(ngModel)]="password"
                  type="password" id="password" name="password" class="form-control" placeholder="Password"
                    required>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Iniciar Sesión</button>
                <div class="form-group">
                  <a routerLink="/usuario/registro" class="form-control login-user">Eres Nuevo Aquí?</a>
                </div>
                <div class="form-group" > 
                  <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()">
                    <span class="fa fa-facebook"> FACEBOOK </span>
                  </button>
                  <button class="btn btn-block btn-social btn-google"(click)="onLoginGoogle()" >
                    <span class="fa fa-google "> GOOGLE </span>
                  </button>
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

