<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form  >
                <h1 class="h3 mb-3 font-weight-normal">Regitrate</h1>
                <div class="alert alert-danger" role="alert" >
                 
                </div>
                <div class="form-group">
                  <input type="text"  name="name" class="form-control" placeholder="Nombre"  minlength="4"
                    maxlength="15">
                </div>

                <div class="alert alert-danger" role="alert" >
                  <div >Se requiere el nombre</div>
                  <div >El nombre debe tener al menos 4 caracteres</div>
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Email" 
                    minlength="8">
                </div>
                <div class="alert alert-danger" role="alert">
                  <div >correo electronico es requerido</div>
                  <div >
                    email debe tener al menos 8 caracteres</div>
                </div>
                <div class="form-group">
                  <input type="password"  name="password" class="form-control" placeholder="Password" 
                    required minlength="5" maxlength="10">
                </div>
                <div class="alert alert-danger" role="alert" >
                  <div>se requiere contraseña</div>
                  <div >La contraseña debe tener al menos 5 caracteres</div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Registrarse</button>
                <div class="form-group">
                  <a routerLink="/user/login" class="form-control login-user">¿Tienes cuenta?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>