<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" routerLink="/">{{app_name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="estaLogiado">
        <a class="nav-link" routerLink="/ofertas">Offers
        </a>
      </li>
      Logiado: {{estaLogiado}}
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!estaLogiado">
        <a class="nav-link" routerLink="/usuario/registro">Registrarse
        </a>
      </li>
      <li class="nav-item" *ngIf="estaLogiado">
        <a class="nav-link" routerLink="/usuario/perfil">Perfil</a>
      </li>
      <li class="nav-item" *ngIf="estaLogiado">
        <a class="nav-link" routerLink="admin/servicios">Servicios</a>
      </li>
      <li class="nav-item" *ngIf="!estaLogiado">
        <a class="nav-link" routerLink="/usuario/login">Iniciar sesión
        </a>
      </li>
      <li class="nav-item" *ngIf="estaLogiado">
        <a href="#" class="nav-link" (click)="onLogout()" >Salir
        </a>
      </li>
    </ul>
  </div>
</nav>