<section id="books">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" >
        <div class="card_book">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid" src="" alt="">
              </p>
              <h4  class="card-title"></h4>
              <p class="card-text">
                
              </p>
              <div class="container-precio-idioma">
                <p class="badge badge-info">
                  
                </p>
                <p class="badge badge-info">
                  
                </p>
              </div>
              <a href="" class="btn btn-block btn-primary" target="_blank">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>